@import url("./color.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header {
  color: var(--color-white);

  display: flex;
  flex-wrap: wrap;
}

.logo--header {
  color: var(--color-tertiary);
  font-size: 2rem;
  font-weight: bold;
}

.searchContainer {
  height: 2rem;
  width: 65%;
  background-color: var(--color-white);
}

.input--search {
  background-color: var(--color-white);
  border: none;
  height: 100%;
  width: 100%;
}

.testingPanel {
  background-color: var(--color-black);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1px;
}

.btn--test {
  background-color: var(--color-primary);
  width: 10rem;
  padding: 1rem;
}

.listing-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #222;
  color: #b6b6b6;
  padding: 1rem;
}

.realmIndexSelect {
  border: none;
  background-color: var(--color-primary);
  color: #e5e5e5;

  text-align: center;
  cursor: pointer;
}

button {
  border: none;
  background-color: #433d31;
  color: #e5e5e5;

  text-align: center;
  cursor: pointer;
}

.auctionTableListContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.auctionTableHeader {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column: 1 / -1;
}

.auctionListingContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-bottom: 1px solid black;
}

.listingContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column: 1 /-1;
}
